.banner-image {
	margin: -19px 0 20px 0;
	padding: 0;

	width: 100%;
    height: calc(50vh - 51px);
    background-image: url("../../images/../../images/banner-image-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
@import "menu.scss";
@import "default.scss";
.navbar-default {
	background-color: #333;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color: #fff;
	}
}